<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <label>Profile Image</label>
    <%= f.file_field :image %>
  </div>
    <p>
    <label>
      <%= f.check_box :remove_image %>
      Remove Profile Image
    </label>
  </p>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Nationality %><br />
    <%= f.text_field :nationality, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <% if current_user.chef_status == true || @become_a_chef %>
    <div class="field">
      <%= f.label :about_your_self %><br />
      <%= f.text_area :about_chef, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :chef_speciality %><br />
      <%= f.text_field :speciality, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :IC %><br />
      <%= f.text_field :chef_ic, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :Experience %><br />
      <%= f.text_field :chef_experience, autofocus: true %>
    </div>

    <%= f.hidden_field :chef_status, :value => true %>


  <% end %>


<div class="actions">
  <%= f.submit "Update" %>
</div>


<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
