<div class="container">
<div>
<h2 class="white">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h2 class="white"><%= devise_error_messages! %></h2>
  <div>
    <label class='white'>profile Image</label>
    <%= f.file_field :image , :class => "white"%>
  </div>

  <div class="field">
    <%= f.label :first_name, :class => "white"%><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name,:class => "white" %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email,:class => "white" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :phone_number,:class => "white" %><br />
    <%= f.text_field :phone_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Nationality ,:class => "white"%><br />
    <%= f.text_field :nationality, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password,:class => "white" %>
    <% if @minimum_password_length %>
    <em class="white">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,:class => "white" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Sign up" , :class => 'btn btn-success red' %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
