<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@event) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div >
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Name", class: 'form-control thin' %>

          <div class="form-group">
            <%= f.label :date %>
            <%= f.date_field :date, class: 'form-control med' %>
          </div>

          <div class="row">
          <div class="form-group col-md-3">
            <%= f.label :start_time %>
            <%= f.text_field :start_time, placeholder: "Starting Time", class: 'form-control thin' %>
          </div>

          <div class="form-group col-md-3 col-md-offset-1">
            <%= f.label :end_time %>
            <%= f.text_field :end_time, placeholder: "Ending Time", class: 'form-control thin' %>
          </div>
        </div>

        
        <%= f.label :location %>
        <%= f.fields_for :location do |ff| %>
          
            <%= ff.text_field :block, placeholder: "Block", class: 'form-control' %>
          
            <%= ff.text_field :street, placeholder: "Street", class: 'form-control' %> 
          
            <%=raw ff.text_field :city, placeholder: "City", class: 'form-control' %>
          
            <%=raw ff.text_field :state, placeholder: "State", class: 'form-control' %>
        
            <%= ff.text_field :postal_code, placeholder: "Postal Code" , class: 'form-control'%>
         
        <% end %><br/>
        

        <%= f.label :variety %><br/>
        <% ["Chinese", "Japanese", "Western", "Vietnamese", "Thai"].each do |v| %>
          <%= f.radio_button(:variety, "#{v}") %>
          <%= f.label(:variety, "#{v}") %>
        <% end %><br/><br/>

        <%= f.label :number_of_guest %>
        <%= f.text_field :pax, class: 'form-control' %><br />

        <%= f.label :menu_description %>
        <%= f.text_area :description, class: 'form-control' %><br/>
      </div> 

      <% if @event.new_record? %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>

    <% end %>
  </div>
</div>
