
<div class="container white">
<h1>My Events</h1>

<table class="table table-hover ">
    <tr>
      <th class="col-md-4">Event</th>
      <th class="col-md-2">Date</th>
      <th class="col-md-4">Status</th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event, :class =>"white" %></td>
        <td><%= event.date %></td>
        <td>
          <% if event.bids.count > 0 %>
            <% if event.bids.where(deal: true).count  > 0 %>
              <%= link_to Bid.where(event_id: event.id, deal: true).first.user.first_name, 
                  bid_path(Bid.where(event_id: event.id, deal: true).first) %> chosen!
            <% else %>
              <%= event.bids.count %> bids: 
              <% event.bids.each do |bid| %>
                <%= link_to bid.user.first_name, bid_path(bid) %>
              <% end %>
            <% end %>
          <% end %>
          </td>
        <td></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"yell"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, :class=>"btn btn-success red"%>
</div>
